@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    border-radius: 15px;
    background-color: #fff;
}

.image .img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

h2{
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 15px;
}
h5{
    color: hsl(223, 47%, 23%);
    font-weight: 700;
    font-size: 1rem;
}
p{
    text-align: center;
    color: hsl(224, 23%, 55%);
}

.plan{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 20px;
    background: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;    
}

.plan a:hover{
    color: hsl(244, 83%, 68%);
    text-decoration: none;
}


.plan-left{
    display: flex;
    align-items: center;
    text-align: left;
    margin-right: 60px;
}

.plan-details{
    margin-left: 15px;
}

.plan-details p{
    font-size: 1rem;
}


#change-tag{
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.payment-btn{
    display: block;
    text-decoration: none;
    font-size: 0.8125rem;
    font-weight: 700;
    color: white;
    background-color: hsl(245, 75%, 52%);
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    margin: 25px 0;
    transition: background-color .3s ease;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

a.payment-btn:hover{
    box-shadow: (5px 5px 10px black);
    opacity: 0.8;
}

.cancel-btn{
    margin-bottom: 30px;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    text-align: center;
    font-size: 0.8125rem;
    font-weight: 900;    
    transition: color .3s ease;
}

a.cancel-btn:hover{
    color: hsl(223, 47%, 23%);
}

.attribution{
    font-size: 0.8125rem;
    text-align: center;
    margin-top: auto;
}   
